@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply bg-zinc-900 h-screen w-screen;
}

/* progress::-webkit-progress-bar {
	@apply bg-transparent;
}
progress::-webkit-progress-value {
	@apply bg-white drop-shadow-[0_0_0.1875em_rgba(56,189,248,1)];
} */

progress.rtl {
  direction: rtl;
}
progress,
progress[role] {
	@apply border-none h-1 w-full;
}
progress[value]::-webkit-progress-bar {
	@apply bg-gray-400 bg-opacity-50 rounded-sm shadow-inner;
}
progress[value]::-webkit-progress-value {
	@apply bg-white drop-shadow-[0_0_0.1875em_rgba(56,189,248,1)];
}

section.sog-bg {
	@apply relative w-full h-screen bg-[url('../images/background.jpg')] bg-no-repeat bg-center bg-cover shadow-[inset_0_0_8em_8em_rgba(0,0,0,1)];
}
section.sog-bg:before {
	@apply content-[''] absolute top-0 left-0 w-full h-full opacity-50;
	background: inherit;
	box-shadow: inherit;
}
section.sog-bg:hover:before {
	@apply mix-blend-hard-light;
	animation: glitch .625s linear infinite;
	box-shadow: inherit;
}

.sog-container {
	@apply flex flex-row h-screen p-3;
}
.sog-content {
	@apply basis-1/3;
}

.sog-brand {
	@apply flex justify-center items-end h-full;
}
.sog-brand-body {
	@apply flex flex-col items-center;
}
.sog-brand-text {
	@apply text-white text-sm lg:text-2xl uppercase font-semibold drop-shadow-[0_0_0.1875em_rgba(56,189,248,1)];
}
.sog-brand-img {
	@apply w-1/2 drop-shadow-[0_0_0.1875em_rgba(56,189,248,1)];
}

.sog-cpan {
	@apply flex justify-center items-center h-full;
}
.sog-cpan-body {
	@apply flex flex-col items-center;
}
.sog-cpan-btn1 {
	@apply text-white text-6xl tracking-wider uppercase opacity-60 mb-1;
}
.sog-cpan-btn1:hover {
	@apply drop-shadow-[0_0_0.125em_rgba(56,189,248,1)] opacity-100;
}
.sog-cpan-btn2 {
	@apply text-white text-3xl opacity-60;
}
.sog-cpan-btn2:hover {
	@apply drop-shadow-[0_0_0.125em_rgba(56,189,248,1)] opacity-100;
}
.sog-cpan-btn3 {
	@apply text-white text-6xl tracking-wider uppercase opacity-60 mb-1;
}
.sog-cpan-btn3:hover {
	@apply drop-shadow-[0_0_0.125em_rgba(250,204,21,1)] opacity-100;
}

.sog-misc {
	@apply flex justify-center h-full;
}
.sog-misc-body {
	@apply flex flex-col;
}
.sog-optn {
	@apply flex justify-end items-start h-1/2;
}
.sog-meta {
	@apply flex justify-end items-end h-1/2;
}
.sog-meta-body {
	@apply text-right;
}
.sog-meta-text {
	@apply text-white text-sm opacity-60;
}
.sog-meta-text-hidden {
	@apply hidden;
}

@keyframes glitch {
	0% {
		background-position: 0 0;
		filter: hue-rotate(0deg);
	}
	10% {
		background-position: 0.3125em 0;
	}
	20% {
		background-position: -0.3125em 0;
	}
	30% {
		background-position: 0.9375em 0;
	}
	40% {
		background-position: 0.3125em 0;
	}
	50% {
		background-position: -1.5625em 0;
	}
	60% {
		background-position: -3.125em 0;
	}
	70% {
		background-position: 0 -1.25em;
	}
	80% {
		background-position: -3.75em -1.25em;
	}
	81% {
		background-position: 0 0;
	}
	100% {
		background-position: 0 0;
		filter: hue-rotate(360deg);
	}
}